@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-soda-black text-soda-white text-[18px] max-md:text-[14px] font-space min-h-screen flex flex-col justify-between;
}

.nav-text-animation {
  @apply hover:text-lg text-base transition ease-in-out;
}

/*Start Animations*/
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/

.area {
  background: #080909;
  background: -webkit-linear-gradient(to left, #080909, #ca2352);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*
-- End BackGround Animation 
*/

.section-header-text {
  @apply text-white font-bold text-xl md:text-4xl text-center pb-4;
}

/* --------- STATS --------- */
.statistics {
  @apply bg-soda-white max-md:w-screen text-soda-black flex  
  flex-row gap-4 py-4 px-6 my-2 justify-center flex-wrap md:rounded-[80px] z-10;
}

.stat-container {
  @apply items-center text-center;
}
.stat-value {
  @apply text-3xl font-extrabold;
}

.stat-label {
  @apply text-sm font-bold;
}

/* --------- HERO --------- */

.hero {
  @apply mx-[3vw] mt-[16vh] mb-[8vh] max-md:mt-[14vh] max-md:mb-[4vh] h-full;
}

.hero-container {
  @apply mx-auto sm:ml-16 flex flex-col md:flex-row items-center justify-between;
}

.left-hero {
  @apply md:w-1/2 flex flex-col items-center justify-between;
}

.hero-large-text {
  @apply text-4xl md:text-7xl font-bold leading-tight px-6 max-md:py-4;
}

.hero-small-text {
  @apply my-2 text-base  max-md:text-sm px-6 text-soda-gray;
}

/* --------- SPONSORS --------- */

.sponsor-container {
  @apply flex flex-row overflow-x-hidden bg-white;
  width: 100vw; /* Full viewport width */
  margin-left: calc(-50vw + 50%); /* Extend beyond left edge */
  margin-right: calc(-50vw + 50%); /* Extend beyond right edge */
}

.marquee-effect-container {
  @apply py-6  max-md:px-4 pl-20 flex flex-row animate-marquee whitespace-nowrap gap-8;
}

/* --------- NAVIGATION  --------- */
.navigation {
  @apply w-full fixed bg-soda-black z-20 max-md:py-0 py-1;
}

@layer utilities {
  .glassmorphism-effect {
    @apply rounded-lg bg-clip-padding backdrop-filter backdrop-blur-sm mx-8 my-4 w-[96vw];
    background-image: var(--tw-gradient-glass-gradient);
  }
}
.nav-container {
  @apply w-full justify-between hidden sm:flex px-20 items-center;
}

/* --------- HOME --------- */

.home {
  @apply min-h-screen max-w-[2560px] mx-auto;
  margin-top: 20vh;
  position: relative; /* Make sure the parent container is positioned */
  padding-left: 0; /* Reset padding to avoid extra space on the left */
  padding-right: 0; /* Reset padding to avoid extra space on the right */
}

/* --------- FOOTER --------- */
footer {
  @apply w-full;
}

.footer-container {
  @apply grid grid-cols-4 max-md:grid-cols-2 px-60 py-16 max-md:px-10 max-md:py-5;
}

/* --------- SOCIAL MEDIA LINKS --------- */
.social-media-links {
  @apply flex gap-4 text-3xl bg-soda-white rounded-full py-4 px-4 text-soda-black justify-center z-10;
}

/* --------- BUTTON --------- */
.rounded-btn {
  @apply px-2 py-1 bg-soda-red rounded-full;
}

.right-arrow-btn {
  @apply flex px-3 py-3  bg-soda-red rounded-full items-center hover:bg-[#c12654] justify-center;
}

.regular-btn {
  @apply px-3 py-1 bg-soda-red rounded-lg;
}
.btn-text {
  @apply font-semibold text-soda-white text-[15px];
}
